################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTestProject_MSTest/.vs/UnitTestProject_MSTest
/UnitTestProject_MSTest/UnitTestProject1/bin/Debug/netcoreapp3.1
